---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MainBody from "../components/MainBody.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <MainBody>
    <h1>Coffee? ☕</h1>
    <p>
      Please bare with me while I'm still trying to figure out what kind of
      astounding graphics to add to my main page. I'll get back to you once I've
      thought of something fun!
    </p>

    <p>
      Why don't you go and look at my <a href="/blog">Blog</a> in the mean time?
    </p>
  </MainBody>
</html>
