---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="my-5 z-[10] relative flex items-center justify-between">
    <h2>
      <a class="title whitespace-nowrap px-3 text-slate-950!" href="/"
        >{SITE_TITLE}</a
      >
    </h2>
    <div
      class="block xs:hidden burger-menu flex flex-col gap-y-[6px] cursor-pointer z-[10] right-4 top-5"
    >
      <div
        class="rounded-md burger-menu__line1 border-[1.5px] w-7 transition-all duration-300 ease-in-out pointer-events-none"
      >
      </div>
      <div
        class="rounded-md burger-menu__line2 border-[1.5px] w-7 transition-all duration-200 ease-in-out pointer-events-none"
      >
      </div>
      <div
        class="rounded-md burger-menu__line3 border-[1.5px] w-7 transition-all duration-300 ease-in-out pointer-events-none"
      >
      </div>
    </div>
    <div
      class="links-container hidden basis-lg xs:flex justify-end items-center gap-y-10 gap-x-10 xs:flex-row flex-col inset-0"
    >
      <div class="modal hidden absolute inset-0 bg-white/20 backdrop-blur-sm">
      </div>
      <div
        class="links internal-links text-[1.1rem] flex gap-x-5 md:gap-x-10 gap-y-20 top-[50%] left-[50%] *:p-10 xs:*:p-0 xs:*:px-[8.8px]"
      >
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div class="theme-button -mt-1 bottom-0 right-0">
        <button class="theme-button cursor-pointer p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-theme icon-tabler icons-tabler-filled icon-tabler-moon"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              fill="#527cbf"
              d="M12 1.992a10 10 0 1 0 9.236 13.838c.341 -.82 -.476 -1.644 -1.298 -1.31a6.5 6.5 0 0 1 -6.864 -10.787l.077 -.08c.551 -.63 .113 -1.653 -.758 -1.653h-.266l-.068 -.006l-.06 -.002z"
            ></path></svg
          ></button
        >
      </div>
    </div>
  </nav>
</header>
<style>
  @keyframes rotate-right {
    50% {
      transform: rotate(45deg);
    }
  }

  header {
    margin: 0;
    padding: 0 1em;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  :root.dark nav a {
    color: var(--color-slate-600);
  }

  :root.dark nav a.title {
    color: var(--color-slate-50);
  }

  :root.dark nav a.active {
    color: var(--color-slate-50);
  }

  :root.dark nav a.active:hover {
    color: var(--color-slate-50);
  }

  :root.dark nav a:hover {
    color: var(--color-sky-300);
  }

  nav a {
    color: var(--color-slate-400);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    &:hover {
      color: var(--color-slate-900);
    }
    color: var(--color-slate-900);
    text-decoration: none;
  }

  nav a:hover {
    color: var(--color-sky-900);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>

<script is:inline>
  function changeGiscusTheme() {
    const isDark = document.documentElement.classList.contains("dark");

    function sendMessage(message) {
      const iframe = document.querySelector("iframe.giscus-frame");
      if (!iframe) return;
      iframe.contentWindow.postMessage(
        { giscus: message },
        "https://giscus.app",
      );
    }

    sendMessage({
      setConfig: {
        theme: isDark ? "catppuccin_frappe" : "catppuccin_latte",
      },
    });
  }

  const burgerMenu = document.querySelector(".burger-menu");
  const modal = document.querySelector(".modal");
  const line1 = document.querySelector(".burger-menu__line1");
  const line2 = document.querySelector(".burger-menu__line2");
  const line3 = document.querySelector(".burger-menu__line3");

  function openMenu() {
    modal.classList.toggle("hidden");
    burgerMenu.classList.toggle("fixed");
    document.querySelector(".theme-button").classList.toggle("fixed");
    document.querySelector(".links-container").classList.toggle("hidden");
    document.querySelector(".links-container").classList.toggle("fixed");
    document.querySelector(".links-container").classList.toggle("flex");
    document.querySelector(".links").classList.toggle("flex-col");
    document.querySelector(".links").classList.toggle("fixed");
    document.querySelector(".links").classList.toggle("-translate-[50%]");

    line1.classList.toggle("w-7");
    line3.classList.toggle("w-7");
    line1.classList.toggle("w-5");
    line3.classList.toggle("w-5");
    line1.classList.toggle("rotate-46");
    line1.classList.toggle("translate-y-[10px]");
    line2.classList.toggle("scale-0");
    line3.classList.toggle("-rotate-46");
    line3.classList.toggle("-translate-y-[7.5px]");
  }

  modal.addEventListener("click", (e) => {
    openMenu();
  });

  burgerMenu.addEventListener("click", (event) => {
    if (event.target !== burgerMenu) return;
    openMenu();
  });

  const svg = document.querySelector("svg.icon-theme");
  const theme = document.querySelector("button.theme-button");
  const sunIcon = `<path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path fill="#ffd35c" d="M12 19a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" />
          <path fill="#ffd35c" d="M18.313 16.91l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.218 -1.567l.102 .07z" />
          <path fill="#ffd35c" d="M7.007 16.993a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" />
          <path fill="#ffd35c" d="M4 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" />
          <path fill="#ffd35c" d="M21 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" />
          <path fill="#ffd35c" d="M6.213 4.81l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.217 -1.567l.102 .07z" />
          <path fill="#ffd35c" d="M19.107 4.893a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" />
          <path fill="#ffd35c" d="M12 2a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" />
          <path fill="#ffd35c" d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />`;
  if (localStorage.theme === "dark" && svg) {
    svg.innerHTML = sunIcon;
    svg.classList.remove("icon-tabler-moon");
    svg.classList.add("icon-tabler-sun");
  }
  theme?.addEventListener("click", () => {
    if (svg && localStorage.theme === "dark") {
      localStorage.theme = "light";
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      );
      svg.innerHTML = `<path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          fill="#527cbf"  d="M12 1.992a10 10 0 1 0 9.236 13.838c.341 -.82 -.476 -1.644 -1.298 -1.31a6.5 6.5 0 0 1 -6.864 -10.787l.077 -.08c.551 -.63 .113 -1.653 -.758 -1.653h-.266l-.068 -.006l-.06 -.002z"
          ></path>`;
      svg.classList.remove("icon-tabler-moon");
      svg.classList.add("icon-tabler-sun");
    } else if (svg && localStorage.theme === "light") {
      localStorage.theme = "dark";
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      );

      svg.innerHTML = sunIcon;
      svg.classList.remove("icon-tabler-sun");
      svg.classList.add("icon-tabler-moon");
    }
    changeGiscusTheme();
  });
</script>
