---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<body class="min-h-screen">
  <Header />
  <main class="min-h-screen pt-30 w-[800px]">
    <slot />
  </main>
  <Footer />
</body>
